# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore the build directory
/dist

# Ignore .env files which might contain sensitive data
.env

# Ignore IDE specific files
.vscode/
.idea/